{% extends 'CrudApp/base.html' %}

{% block header_block %}
<h4>Artist Rating:{{ artist_rating }}</h4>
<h4>Artist Name: {{ artist_info.first_name }} {{artist_info.last_name}}</h4>
<h3>instrument:{{ artist_info.instrument}}</h3>
<h3>Album_List:</h3>
<table class="table table-bordered">
  <tr>
    <th>Album_Name</th>
      <th>Release Date</th>
        <th>Rating</th>
  </tr>
  {% for album in album_info %}
  <tr>
    <td>{{album.name}}</td>
    <td>{{album.release_date| date:"M d Y"}}</td>
    <td>{{album.num_stars}}</td>

  </tr>
  {% endfor%}
</table>
{% endblock %}
